.vscode/settings.json
__pycache__
.env
.coverage
htmlcov
scripts/sync_to_blitz.personal.sh
docker/.env
.venv
pyrightconfig.json

test_env_data

# Nix
./result/
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# celery
celerybeat-schedule
